* {
  box-sizing: border-box;
}

body {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(red 50%, white 50%) fixed;
}

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.pokemonFont {
  font-family: 'Signika', sans-serif;
}